@model IEnumerable<FinalCS460.Models.SELLER>
@{
    ViewBag.Title = "Create";
}

<h2>Create an Item</h2>

<form method="post">
    <display for="Item Name">Item Name</display>
    <input type="text" name="itemName" id="itemName" title="Item Name" />
    <br /><br />
    <diplay for="Item Description">Item Description</diplay>
    <input type="text" name="itemDesc" id="itemDesc" title="Item Description" />
    <br /><br />
    <input type="submit" value="Submit" />
</form>